<div class="row border-bottom mb-2">
  <h2 class="col"> CLINICS </h2>
  <%= link_to raw("<button class=\"btn btn-primary\"> Add Clinic <i class=\"fa fa-plus-square\"></i></i></button>"), new_clinic_path, class: "col text-end"%>
</div>

<table class="table table-bordered">
  <%= render partial: 'shared/table_header', locals: { headers: ['Name', 'Location', 'Edit', 'Delete', 'Arms'] } %>
  <tbody>
    <% @clinics.each do |clinic| %>
      <tr id=<%= clinic.id %>>
        <td class="text-center"><%= clinic.name %>
        <td class="text-center"><%= clinic.location %>
        <td class="text-center"><%= link_to raw("<button class=\"btn btn-primary\"><i class=\"fa fa-pencil-alt\"></i></button>"), edit_clinic_path(clinic.id) %></td>
        <td class="text-center"><%= link_to raw("<button class=\"btn btn-danger\"><i class=\"fa fa-trash\"></i></button>"), clinic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class="text-center"><%= link_to raw("<button class=\"btn btn-secondary\"><i class=\"fa fa-angle-right\"></i></button>"), clinic_arms_path(clinic.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @clinics %>
