<div class="container border" style="padding-top: 15px;">
<div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4" onclick="redirect('studies')">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"> Study </h5>
      <p class="card-text"> Count: <%= Study.count %></p>
    </div>
  </div>
</div>
<div class="col mb-4" onclick="redirect('sites')">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"> Site </h5>
      <p class="card-text"> Count: <%= Site.count %></p>
    </div>
  </div>
</div>
<div class="col mb-4" onclick="redirect('doctors')">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"> Doctors </h5>
      <p class="card-text"> Count: <%= Doctor.count %></p>
    </div>
  </div>
</div>
<div class="col mb-4" onclick="redirect('clinics')">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"> Clinics </h5>
      <p class="card-text"> Count: <%= Clinic.count %></p>
    </div>
  </div>
</div>
<div class="col mb-4" onclick="redirect('arms')">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"> Arms </h5>
      <p class="card-text"> Count: <%= Arm.count %></p>
    </div>
  </div>
</div>
<div class="col mb-4" onclick="redirect('patients')">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"> Patients </h5>
      <p class="card-text"> Count: <%= Patient.count %></p>
    </div>
  </div>
</div>

</div>
</div>