<div class="row border-bottom mb-2">
  <h2 class="col"> PATIENTS </h2>
  <%= render partial: 'shared/add_record', locals: { path: new_arm_patient_path(@arm.id), entity: 'Patient' } %> 
</div>
<table class="table table-bordered">
  <%= render partial: 'shared/table_header', locals: { headers: ['NAME', 'CONTACT NO', 'GENDER', 'AGE', 'FEEDBACK', 'EDIT', 'DELETE'] } %>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td class="text-center"><%= patient.name %></td>
        <td class="text-center"><%= patient.contact_no %></td>
        <td class="text-center"><%= patient.gender %></td>
        <td class="text-center"><%= patient.age %></td>
        <td class="text-center"><%= link_to raw("<button class=\"btn btn-primary\"><i class=\"fa fa-comment\"></i></button>"), edit_patient_path(patient) %></td>
        <td class="text-center"><%= link_to raw("<button class=\"btn btn-primary\"><i class=\"fa fa-pencil\"></i></button>"), edit_patient_path(patient) %></td>
        <td class="text-center"><%= link_to raw("<button class=\"btn btn-danger\"><i class=\"fa fa-trash\"></i></button>"), patient, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


