<h1> Edit Doctor </h1>
<%= link_to :back, doctors_path %>
<%= form_with(model: @doctor, url: doctor_path(@doctor), method: 'patch') do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :gender %>
      <%= f.select(:gender, [['Male', 'male'], ['Female', 'female']]) %>
    </p>
    <p>
      <%= f.label :contact_no %>
      <%= f.text_field(:contact_no, type: :integer) %>
    </p>
  </ul>
  <%= f.submit :update %>
<% end %>
