<div class="row border-bottom mb-2">
  <h1> New Doctors Page </h1>
</div>

<% if @doctor.errors.any? %>
  <%= render partial: 'shared/errors', locals: { subject: @doctor } %>
<%end%>
<div class="card">
  <%= form_with(model: @doctor, local: true) do |f| %>
    <div class="card-body">
      <div class="mb-3 row">
        <div class="col-3 text-end">
        <%= f.label "Name:", { class: "form-label col-2" } %>
        </div>
        <div class="col-9">
        <%= f.text_field :name, { class: "form-control col-10" } %>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col">
          <%= f.label "Gender:", { class: "form-label col-sm-2" } %>
          <%= f.select(:gender, [['Male', 'male'], ['Female', 'female']], {class: "form-select"}) %>
        </div>
        <div class="col">
          <%= f.label 'Contact:', { class: "form-label"}%>
          <%= f.number_field(:contact_no) %>
        </div>
      </div>
      <div class="mb-3 row">
        <%= f.label "Clinics" %>
        <%= f.collection_select(:clinic_ids, Clinic.all, :id, :name, {}, { multiple: true }) %>
      </div>
    </div>
    <%= f.submit :create %>
  <% end %>
</div>
