<h1> New Doctors Page </h1>

<%= form_for @doctor, url: { action: 'create' }, html: { class: "nifty_form" } do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :gender %>
      <%= f.select(:gender, [['Male', 'male'], ['Female', 'female']]) %>
    </p>
    <p>
      <%= f.label :contact_no %>
      <%= f.text_field(:contact_no, type: :integer) %>
    </p>
  </ul>
  <%= f.submit :create %>
<% end %>
<%= label_tag(:name) %>
<%= text_field(:doctor, :name) %>
