<!DOCTYPE html>
<html>
  <head>
    <title>DrugTrailMgmtSys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h3 style="background-color: skyblue; text-align: center;"> Drug Trial Management System </h3>
  </header>

  <body>
    <%= yield %>
  </body>
  <footer style="bottom: 0; width: 100%; position: fixed">
    <h3 style="background-color: skyblue; text-align: center;"> &copy Training </h3>
  </footer>
</html>
